#div-4{
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    border-radius: 40px;
}

.button4{
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius: 40px;
}

#text-4{
    text-align: center;
    color: black;
    font-size: 1rem;
}