#div-1{
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

#button1{
    border-radius: 40px;
    padding: 1rem;
    border: none;
}

